@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';


body{ /*sidebars*/
  margin:0;
  padding:0;
  color:#000000;
  background:#01CA6E;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:20px;
  overflow-x: hidden;
}

h2,h3{
  color:#000000;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
}
a{
  color:#000000;
}
a:hover,a:focus{color:#592059;
}
#banner .container,
main header,
#portfolio .grid,
#contact>div,
footer #footer-above{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-flow:row wrap;
      -ms-flex-flow:row wrap;
          flex-flow:row wrap;
  -webkit-justify-content:space-around;
      -ms-flex-pack:distribute;
          justify-content:space-around;
  -webkit-box-align:start;
  -webkit-align-items:flex-start;
      -ms-flex-align:start;
          align-items:flex-start;
  margin:0 auto;
}

#banner{
  background-color:#000000 !important;
  height:80px;
  box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-color:#000000;
}
#banner .container{width:95%;max-width:1024px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;
}
#banner .container::before, #banner .container::after{display:none
}
#banner img{height:50px;margin:15px 0;
}

.tweet3 {
  position: relative;
margin-left: 800px;

}

.whitetext {
/*font-family: "Roboto", Verdana, sans-serif;*/
font-family: 'Baloo Tamma', cursive;
color:white;
font-size: 400%;
font-weight : 10;
text-align: center;
position: relative;
left: -30%;
}



.aligncen{
  text-align: center;
}

p {
   font: 15px arial, sans-serif;
}


 body > main > #portfolio > ul {
  list-style-type: none;
    margin: 0;


    padding: 0;

    }
    /*
    body > main > #portfolio > ul > li:first-child {
      margin-left: 700px;
      width:20px;

    }*/

         body > main > #portfolio > ul > img:nth-of-type(1) {
      margin-left: 50%;
         padding:10px;
    }
    @media(max-width:768px){
      body > main > #portfolio > ul > img:nth-of-type(1) {
        margin-left: auto;
        margin-right: auto;
   position: relative;
   top: 10px;
 }
    }


     body > main > #portfolio > ul > img:nth-of-type(2) {
      margin-left: 11%;
         padding:10px;
    }
    @media (max-width: 768px) {
      body > main > #portfolio > ul > img:nth-of-type(2) {
        margin-left: auto;
        margin-right: auto;
       position: relative;
    top: 10px;
     }
    }

         body > main > #portfolio > ul > img:last-of-type {
      margin-left: 50%;
         padding:10px;
    }
    @media (max-width: 768px) {
      body > main > #portfolio > ul > img:last-of-type {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 10px;
   }}

   img {
       max-width: 100%;
       height: auto;
   }

/*
        body > main > #portfolio > ul > li:last-child {
     margin-left: 700px;
    }*/

    #portfolio img{display:block;
}



#toptext {
margin-top: 100px;
}
@media (max-width: 1036px) {
  #toptext {
    position: relative;
top: 10px;
    }}

.baloo{
  font-family: 'Baloo Tamma', cursive;
}

#portfolioscroll{
    position: absolute;
    left: 100px;
    top: 550px;
    bottom: 500px;
}
.boxed {
  border: 2px solid green ;
  height: 180px;
}



#tweetscroll{
    position: absolute;
    left: 100px;
    top: 1620px;
    bottom: 500px;
}
#lefttweet{
  position: relative;
}
@media (max-width: 1210px) {
#lefttweet{
  left: 20%;
}}
@media (max-width: 768px) {
#lefttweet{
margin-right: 50%;}}



@media (max-width: 1210px) {
#centertweet{
    display: none;
}}

@media (max-width: 1210px) {
#righttweet{
    display: none;
}}


.pull-down {
      position: absolute;
    left: 15%;
  margin-top: 50px;
}
@media (max-width: 1102px) {
  .pull-down {
    left: 5%;
    position: relative;
  }
}

.pull2 {
    position: absolute;
    left: 53%;
  margin-top: 50px;
}
@media (max-width: 1102px) {
  .pull2 {
    left: 5%;
    position: relative;
    top: 10px;
  }
}


.pull3 {
      position: absolute;
    left: 15%;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .pull3 {
      left: -2%;
      position: relative;
      top: 10px;
      }}

nav{
  font-size:13px;
  background:#000000;
  -webkit-transition:all .3s;
  transition:all .3s;
}
@media(max-width:768px){
  nav{padding:5px;text-align:center;margin:0 auto;width:120%;
  }
  nav .active a{color:#000000;background:#000000;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
  }
}
.nav>li{height:100%;text-transform:uppercase;font-weight:bold;letter-spacing:2px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;
}
.nav>li a{color:#01CA6E;padding:10px 20px;
}
.nav>li a:hover{color:#01CA6E;background:#bbb;box-shadow:0px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.navbar-toggle{margin-right:0;
}
#top{
  height:80px;
  display:block;
}


main >*:not(.scroll-top){margin:0 auto;/*box-shadow:0px 0px 2px 1px rgba(0, 0, 0, 0.2);*/
}
main header{color:black;text-align:right;padding:70px 10% 50px;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;align-items:flex-end;-webkit-align-content:space-around;-ms-flex-line-pack:distribute;align-content:space-around;
}
@media(min-width:1023px){
  main header{padding:10px 30px;
  }
}

main header .intro-text{margin-top:-100px;
}
@media(min-width:1023px){
  main header .intro-text{text-align:right;
  }
}
main header .intro-text .skills{font-size:1.15em;
}
main section{background:#F5F5F5;padding:40px 0;
}





main section#contact>div{margin:0px auto;
}
main section#contact>div>div{width:80%;
}
main section#contact>div>div p{margin:60px auto 0;max-width:700px;
}
@media(min-width:1023px){
  main section#contact>div>div{max-width:38%;
  }
  main section#contact>div>div p{margin-top:35px;
  }
  main section#contact>div>div p:last-child{margin-top:270px;
  }
}



.followers {
  font-family: 'Baloo Tamma', cursive;
color:white;
font-size: 200%;
font-weight : 10;
text-align: center;
}



#portfolio .grid{padding:0;max-width:90%;list-style:none;margin-top:20px;
}
#portfolio .grid li{margin:20px;max-width:600px;
}

@media(min-width:1023px){
  #portfolio .grid li{max-width:420px;
  }
}

form{
  width:80%;
}
@media(min-width:1023px){
  form{width:40%;margin-left:20px;
  }
}
form .row:first-child .form-item{border-top:1px solid #01CA6E;
}
.form-item{position:relative;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #bbb;
}
.form-item input, .form-item textarea{z-index:1;position:relative;padding-right:0;padding-left:0;border:0;border-radius:0;font-size:1.5em;background:0 0;box-shadow:none!important;resize:none;width:100%;
}
.form-item input:focus, .form-item textarea:focus{outline:0
}
.form-item label{display:block;z-index:0;position:relative;top:2em;margin:0;font-size:.85em;line-height:1.764705882em;vertical-align:middle;vertical-align:baseline;opacity:0;-webkit-transition:top .3s ease,opacity .3s ease;transition:top .3s ease,opacity .3s ease;
}
.form-item-filled label{top:0;opacity:1;color:#aaa;
}
.form-item-focused label{color:#01CA6E;
}
footer{
  color:#000000;
  background-color:#F5F5F5;
  text-align:center;
  box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}
footer h3{margin-bottom:30px;color:#000000;
}
#footer-above{padding-top:50px;width:80%;
}
#footer-above div{margin-bottom:50px;width:250px;
}
#footer-above ul{padding:0;
}
#footer-above li{display:inline;
}
#footer-below{box-shadow:0px 0px 1px 1px rgba(0, 0, 0, 0.2);padding:25px 0;background-color:#01CA6E;text-align:center;
}
.button{
  color:#000000;
  border:solid 2px #000000;
  border-radius:50%;
  display:inline-block;
  width:50px;
  height:50px;
  text-align:center;
  font-size:20px;
  line-height:48px;
  -webkit-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

.scroll-top{
  z-index:1049;
  position:fixed;
  visibility:hidden;
  bottom:2%;right:2%;
}
.scroll-top a{background:#01CA6E;
}
.scroll-top a:hover, .scroll-top a:focus{color:#01CA6E;background-color:#bbb;border-color:#01CA6E;
}
@media(min-width:768px){
  .scroll-top a{visibility:hidden;
  }
}
hr.star-bright, hr.star-dark{margin:40px auto 30px;padding:0;max-width:512px;border:0;border-top:solid 5px;text-align:center;
}
@media(min-width:1023px){
  header hr.star-bright, header hr.star-dark{margin-right:0;text-align:right;
  }
  header hr.star-bright:after, header hr.star-dark:after{right:-10px;
  }
}
hr.star-bright:after, hr.star-dark:after{content:'\f121';font-family:FontAwesome;display:inline-block;position:relative;top:-.8em;padding:0 .25em;font-size:2em;
}
hr.star-bright{border-color:#01CA6E;
}
hr.star-bright:after{color:#01CA6E;background-color:#aaa;
}
hr.star-dark{border-color:#000000;
}
hr.star-dark:after{color:#000000;background-color:#eee;
}
